# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.xcodeproj
*.xcworkspace

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Editors and OS
.idea/
.vscode/
.DS_Store
